* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(landing-page.jpeg);
    background-position: center;
    background-size: cover;
    
    
}
nav {
    width: 100%;
   height: 100px; 
   color: white;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 2em;
    letter-spacing: 2px;
    
}
.menu a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.menu a:hover {
    text-decoration: underline;
    text-decoration-color: indianred;

}

.register button {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: indianred;
    border: none;
    font-size: 20px;
}
.register button:hover {
    text-decoration: underline;
    text-decoration-color:white;
   
}

.heading {
      text-align: center;
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    color: white;
    
}
.heading span {
    letter-spacing: 5px;
}

.heading h1{
    font-size: 3.5em;

}
.heading a {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: indianred;
    text-decoration: none;
    color: white;
    
}
.heading a:hover {
    text-decoration: underline;
    color: white;
}